@model ExamePratico.Models.Inscricao

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Inscricao</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Participante)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Participante)
            @Html.ValidationMessageFor(model => model.Participante)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Evento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Evento)
            @Html.ValidationMessageFor(model => model.Evento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataInscricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataInscricao)
            @Html.ValidationMessageFor(model => model.DataInscricao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EstadoDoEvento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EstadoDoEvento)
            @Html.ValidationMessageFor(model => model.EstadoDoEvento)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
