@model ExamePratico.Models.OutrosParticipantes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>OutrosParticipantes</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NomeParticipante)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NomeParticipante)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apelido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apelido)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NivelAcademico)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NivelAcademico)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataNascimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataNascimento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Genero)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genero)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IDParticipante }) |
    @Html.ActionLink("Back to List", "Index")
</p>
